<mat-form-field style="margin-left: 460px; margin-top: 100px; width: 300px;">

    <input matInput placeholder="Enter Your Name">
</mat-form-field>

<mat-form-field style="margin-left: 460px;width: 300px;">

    <input matInput type="password" placeholder="Give Your Password">
</mat-form-field>

<mat-form-field style="margin-left: 460px; width: 300px;">
    <mat-select placeholder="select Dept">
    <mat-option value="option">CSE</mat-option>
        <mat-option value="option">Mechanical</mat-option>
        <mat-option value="option">Civil</mat-option>
        <mat-option value="option">ECE</mat-option>
        </mat-select>
    </mat-form-field>
<br>
    
        <mat-radio-button style="margin-left: 460px">Male</mat-radio-button>&nbsp;&nbsp;
        <mat-radio-button >Female</mat-radio-button>


      
<br>
<br>
<button class="mithbutton" mat-Tooltip="Register new user" mat-stroked-button style="margin-left: 47%;"> REGISTER </button>